{%- trans_default_domain 'disjfa-mail' -%}

<style type="text/css">
    .header {
        background: #8a8a8a;
    }
    .header .container {
        background: #8a8a8a;
    }
</style>
<wrapper class="header" bgcolor="#8a8a8a">
    <container>
        <row>
            <columns small="12" valign="middle">
                <br>
                <h3>{{ '{{' }} subject {{ '}}' }}</h3>
            </columns>
        </row>
    </container>
</wrapper>

<container>

    <spacer size="16"></spacer>

    <row>
        <columns large="7">
            <h2>Hello, {{ '{{' }} email {{ '}}' }}</h2>
            <p>{{ '{{' }} description {{ '}}' }}</p>
            <button class="expand" href="{{ '{{' }} buttonLink {{ '}}' }}">{{ '{{' }} buttonTitle {{ '}}' }}</button>
        </columns>
        <columns large="5" class="sidebar">
            <callout class="secondary">
                {{ '{{' }} sidebar {{ '}}' }}
            </callout>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                {{ 'example.footer' | trans }}
            </center>
        </columns>
    </row>
</container>
