{% extends "@DisjfaMail/layout.html.twig" %}

{% block body %}
    <div class="py-3">
        <a href="{{ path('disjfa_mail_admin_mail_index') }}">&laquo; back</a>
        -
        <a href="{{ path('disjfa_mail_admin_mail_preview', {'name': mail.name}) }}" accesskey="p" target="_blank">
            preview changes
        </a>
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-12 col-lg-9 py-2">
            <h4>Mail template</h4>
            {{ form_errors(form) }}
            {{ form_rest(form) }}
            <button type="submit" accesskey="s" class="btn btn-primary">
                save
            </button>
            <button type="submit" accesskey="d" class="btn btn-primary" formtarget="_blank" formaction="{{ path('disjfa_mail_admin_mail_preview', {'name': mail.name}) }}">
                preview
            </button>
        </div>
        <div class="col-12 col-lg-3 py-2">
            <h4>Mail parameters</h4>
            {% for parameter in mail.parameters %}
                <div class="form-group">
                    <label for="">{{ parameter }}</label>
                    <div class="input-group mb-3">
                        <input type="text" value="{{ '{{ ' }}{{ parameter }}{{ ' }}' }}" id="input-{{ parameter }}" class="form-control disabled">
                        <div class="input-group-append">
                            <button type="button" class="btn js-copy btn-outline-primary" data-clipboard-target="#input-{{ parameter }}">
                                copy
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ form_end(form) }}
    <br>
    <h3>Original content</h3>
    <strong>{{ mail.originalSubject }}</strong>
    <pre><code>{{ mail.originalContent }}</code></pre>
    <script>

    document.addEventListener('DOMContentLoaded', function () {
      var areas = document.getElementsByTagName('textarea');
      for (var i = 0; i < areas.length; i++) {
        autoExpand(areas[i]);
      }
    });

    document.addEventListener('input', function (event) {
      if (event.target.tagName.toLowerCase() !== 'textarea') return;
      autoExpand(event.target);
    }, false);

    var autoExpand = function (textField) {
      if (textField.clientHeight < textField.scrollHeight) {
        textField.style.height = textField.scrollHeight + "px";
        if (textField.clientHeight < textField.scrollHeight) {
          textField.style.height = (textField.scrollHeight * 2 - textField.clientHeight) + "px";
        }
      }
    };
    </script>
{% endblock %}
