{% extends "@DisjfaMail/layout.html.twig" %}

{% trans_default_domain "disjfa-mail" %}

{% block page_title %}
    {{ 'title.mail-template' | trans }}
{% endblock %}

{% block body %}
    <div class="py-3">
        <a href="{{ path('disjfa_mail_template_index') }}">{{ 'button.back' | trans }}</a>
        -
        <a href="{{ path('disjfa_mail_template_preview', {'name': mail.name}) }}" accesskey="p" target="_blank">
            {{ 'button.preview-changes' | trans }}
        </a>
    </div>
    <p>
        {{ 'text.help' | trans | raw }}
    </p>
    <hr>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-12 col-lg-9 py-2">
            <h4>{{ 'title.mail-template' | trans }}</h4>
            {{ form_errors(form) }}
            {{ form_rest(form) }}
            <button type="submit" accesskey="s" class="btn btn-primary">
                {{ 'button.save' | trans }}
            </button>
            <button type="submit" accesskey="d" class="btn btn-primary" formtarget="_blank" formaction="{{ path('disjfa_mail_template_preview', {'name': mail.name}) }}">
                {{ 'button.preview' | trans }}
            </button>
        </div>
        <div class="col-12 col-lg-3 py-2">
            <h4>{{ 'title.mail-parameters' | trans }}</h4>
            {% for parameter in mail.parameters %}
                <div class="form-group">
                    <label for="">{{ parameter }}</label>
                    <div class="input-group mb-3">
                        <input type="text" value="{{ '{{ ' }}{{ parameter }}{{ ' }}' }}" id="input-{{ parameter }}" class="form-control disabled">
                        <div class="input-group-append">
                            <button type="button" class="btn js-copy btn-outline-primary" data-clipboard-target="#input-{{ parameter }}">
                                {{ 'button.copy' | trans }}
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ form_end(form) }}
    <br>
    <h3>{{ 'title.original-content' | trans }}</h3>
    <br>
    <a href="#original-subject" class="js-copy float-right" data-clipboard-target="#original-subject">copy</a>
    <strong id="original-subject">{{ mail.originalSubject }}</strong>
    <hr>
    <a href="#original-content" class="js-copy float-right" data-clipboard-target="#original-content">copy</a>
    <pre><code id="original-content">{{ mail.originalContent }}</code></pre>
    <script>

    document.addEventListener('DOMContentLoaded', function () {
      var areas = document.getElementsByTagName('textarea');
      for (var i = 0; i < areas.length; i++) {
        autoExpand(areas[i]);
      }
    });

    document.addEventListener('input', function (event) {
      if (event.target.tagName.toLowerCase() !== 'textarea') return;
      autoExpand(event.target);
    }, false);

    var autoExpand = function (textField) {
      if (textField.clientHeight < textField.scrollHeight) {
        textField.style.height = textField.scrollHeight + "px";
        if (textField.clientHeight < textField.scrollHeight) {
          textField.style.height = (textField.scrollHeight * 2 - textField.clientHeight) + "px";
        }
      }
    };
    </script>
{% endblock %}
